{% extends "auctions/layout.html" %}

{% block main %}
<h2>Create New Listing</h2>

<form action="{% url 'contact' %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="title">Subject</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Enter Subject">
    </div>
    <div>
        <label for="description">Message</label>
        <input type="text" name="description" class="form-control" id="description" placeholder="Share what you would like us to know!">
    </div> 
    <div>
        <button type="submit">Send!</button>
    </div>   