{% extends "auctions/layout.html" %}

{% block main %}
    <h2>Contact Us</h2>

    <div class="profile-container">
        <article class="profile-card">
            <div class="profile-info">
                <h3>Liam Dyer</h3>
                <ul>
                    <li>Developer</li>
                    <li><a href="mailto:ldyer2@alaska.edu">ldyer2@alaska.edu</a></li>
                </ul>
            </div>
        </article>

        <article class="profile-card">
            <div class="profile-info">
                <h3>Mika Brassfield</h3>
                <ul>
                    <li>Developer</li>
                    <li><a href="mailto:mlbrassfield@alaska.edu">mlbrassfield@alaska.edu</a></li>
                </ul>
            </div>
        </article>
    </div>
{% endblock %}    