{% extends "auctions/layout.html" %}

{% block main %}
<h2>Active Listings</h2>
<form action="{% url 'displayCategory' %}" method="POST">
    {% csrf_token %}
    Choose category
    <select name="category" id="category">
        {% for item in categories %}
        <option value="{{item}}">{{item}}</option>
        {% endfor %}
    </select>
    <button type="submit">Select</button>
</form>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<article style="display: grid; grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); row-gap: 10px">
    {% for listing in listings %}
        <div>
            <h2>{{listing.title}}</h2>
            <img style="min-width: 150px; min-height: 100px; max-height: 20vw; max-width: 15vw;"src="{{listing.imageUrl}}" alt="Product">
            <p>{{listing.description}}</p>
            <p>${{listing.price.bid}}</p>
            <a href="{% url 'listing' id=listing.id %}"><button>Info</button></a>
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            {% if not listing.isInWatchlist %}
                <button class="addToWatchlistBtn" data-listing-id="{{ listing.id }}" data-url="{% url 'addWatchList' listing.id %}"
                        style="background-color: white; border-color: white;">
                    <i class="fas fa-eye-slash"></i>
                </button>
            {% else %}
                <button class="removeFromWatchlistBtn" data-listing-id="{{ listing.id }}" data-url="{% url 'removeWatchList' listing.id %}">
                    <i class="fas fa-eye"></i>
                </button>
            {% endif %}
        
            <script>
                var csrftoken = '{{ csrf_token }}';
            
                $(document).ready(function () {
                    $(".addToWatchlistBtn").click(function (event) {
                        event.preventDefault();
            
                        var button = $(this);
                        var url = button.data("url");
                        var listingId = button.attr("data-listing-id");
            
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: { listing_id: listingId },
                            beforeSend: function(xhr, settings) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            },
                            success: function (response) {
                                if (response.success) {
                                    button.find('i').removeClass('fa-eye-slash').addClass('fa-eye');
                                    button.css({'background-color': 'green', 'border-color': 'green'});
                                }
                            },
                            error: function (xhr, errmsg, err) {
                                console.log(errmsg);
                            }
                        });
                    });
                    $(".removeFromWatchlistBtn").click(function (event) {
                        event.preventDefault();
            
                        var button = $(this);
                        var url = button.data("url");
                        var listingId = button.attr("data-listing-id");
            
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: { listing_id: listingId },
                            beforeSend: function(xhr, settings) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            },
                            success: function (response) {
                                if (response.success) {
                                    button.find('i').addClass('fa-eye-slash').removeClass('fa-eye');
                                    button.css({'background-color': 'white', 'border-color': 'white'});
                                }
                            },
                            error: function (xhr, errmsg, err) {
                                console.log(errmsg);
                            }
                        });
                    });
                });
            </script>
        </div>
    {% endfor %}
</article>
{% endblock %}