{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link rel="stylesheet" href="{% static 'auctions/uaa490styles.css' %}" >
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#commentForm").submit(function (event) {
                    event.preventDefault();
                    var form = $(this);
                    var url = form.attr("data-url");

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(),
                        success: function (data) {
                            // Check if the comment list exists
                            var commentList = $("#commentList");
                            if (commentList.length === 0) {
                                // If the list doesn't exist, create it
                                commentList = $("<ul></ul>").attr("id", "commentList");
                                // Append the list to the DOM
                                form.after(commentList);
                            }

                            // Append the new comment to the list
                            commentList.append("<li>User " + data.author + " says:<br/>" + data.message + "</li>");

                            // Optionally, you can clear the comment input field
                            form.find("input[name='comment']").val("");
                        },
                        error: function (xhr, errmsg, err) {
                            console.log(errmsg);
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <header>
            <h1>Auctions "R" Us</h1>
            <nav>
                <span>
                    <a href="{% url 'index' %}">Active Listings</a>
                    <a href="{% url 'categories' %}">Categories</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'watchlist' %}">Watchlist</a>
                        <a href="{% url 'create' %}" >Create Listing</a>
                </span>
                <span>
                        Welcome <strong>{{ user.username }}!</strong>
                        <a href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log In</a>
                        <a href="{% url 'register' %}">Register</a>
                    {% endif %}
                </span>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
