<!-- scores.html -->
<!-- scores.html -->

{% extends "auctions/layout.html" %}

{% block main %}
    <h2>Leaderboard</h2>

    <input type="text" id="searchInput" placeholder="Search users...">
    
    <ul id="usersList">
        {% for user_info in users_with_scores %}
            <li>{{ user_info.user.username }} - {% if user_info.scores %}{{ user_info.scores.high_score }}{% else %}0{% endif %}</li>
        {% endfor %}
    </ul>

    <script>
        // Get the input field and ul list
        const input = document.getElementById('searchInput');
        const ul = document.getElementById('usersList');
        const li = ul.getElementsByTagName('li');

        // Event listener for input field
        input.addEventListener('input', function() {
            const filter = input.value.toLowerCase();
            
            // Loop through all list items and hide those that don't match the search query
            for (let i = 0; i < li.length; i++) {
                const username = li[i].textContent.toLowerCase();
                if (username.indexOf(filter) > -1) {
                    li[i].style.display = '';
                } else {
                    li[i].style.display = 'none';
                }
            }
        });
    </script>
{% endblock %}

