{% extends "auctions/layout.html" %}

{% block main %}
    <h2>Leaderboard</h2>

    <input type="text" id="searchInput" placeholder="Search users...">

    <div class="score-card">
        <ol class="user-scores">
            {% for user_info in users_with_scores %}
                <li>
                    <div class="left-content">
                        <span class="rank">#{{ forloop.counter }}</span>
                        <span class="username">{{ user_info.user.username }}</span>
                    </div>
                    <span class="score">{% if user_info.scores %}{{ user_info.scores.high_score }}{% else %}0{% endif %}</span>
                </li>
            {% endfor %}
        </ol>
    </div>

    <script>
        // Get the input field and ol list
        const input = document.getElementById('searchInput');
        const ol = document.querySelector('.user-scores');
        const li = ol.getElementsByTagName('li');

        // Event listener for input field
        input.addEventListener('input', function() {
            const filter = input.value.toLowerCase();

            // Loop through all list items and hide those that don't match the search query
            for (let i = 0; i < li.length; i++) {
                const username = li[i].querySelector('.username').textContent.toLowerCase();
                if (username.indexOf(filter) > -1) {
                    li[i].style.display = '';
                } else {
                    li[i].style.display = 'none';
                }
            }
        });
    </script>
{% endblock %}
