{% extends "auctions/layout.html" %}

{% block main %}
<h2>Active Listings</h2>

{% if listings %}
<article style="display: grid; grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); row-gap: 10px">
    {% for listing in listings %}
        <div>
            <h2>{{listing.title}}</h2>
            <img style="min-width: 150px; min-height: 100px; max-height: 20vw; max-width: 15vw;" src="{{listing.imageUrl}}" alt="Product">
            <p>{{listing.description}}</p>
            <p>${{listing.price.bid}}</p>
            <a href="{% url 'listing' id=listing.id %}"><button>Info</button></a>
        </div>
    {% endfor %}
</article>
{% else %}
<p>Watchlist is empty</p>
{% endif %}

{% endblock %}
