nav {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px;
}

body > header { 
  padding: 0 0.5rem .75rem 0.5rem;
}

body {
  grid-template-columns: 10% 80% 10%;
}

.form-control {
  width: 50%;
}

.item-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  gap: 20px; /* Add space between items */
}

.item {
  flex: 0 0 calc(45% - 20px); /* Adjust width as needed with space between items */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer; /* Add cursor pointer for better UX */
}

.item img {
  max-width: 100%;
  height: auto;
}